<?xml version="1.0"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings"
                  type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="UrlReplace.Properties.Settings"
               type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
               allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v2.0.50727" />
  </startup>
  <userSettings>
    <UrlReplace.Properties.Settings>
      <setting name="UrlReplaceEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="UrlReplaceUIShown" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="DisplayMode" serializeAs="String">
        <value>Default</value>
      </setting>
      <setting name="GroupeMode" serializeAs="String">
        <value>{0:Group}</value>
      </setting>
      <setting name="ActionItemsXml" serializeAs="String">
        <value>
          &lt;?xml version="1.0" encoding="utf-8"?&gt;
          &lt;ArrayOfActionItem xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
          &lt;ActionItem Seek="www.fiddler.com" Replace="www.fiddler2.com" Group="Demo replaces" Comment="Demonstrates a simpel host only replace" HostOnly="true" /&gt;
          &lt;ActionItem Seek="http://sandbox.fiddler2.com/" Replace="http://www.bayden.com/sandbox/" Group="Demo replaces" Comment="Demos a fill url replace" /&gt;
          &lt;ActionItem Seek="help.fiddler2.com/(?&amp;lt;parameter&amp;gt;[^/]*)$" Replace="www.fiddler2.com/Fiddler/help/${parameter}.asp" Group="Demo replaces" Comment="Demos a simulated Url friendly help section" IsRegEx="true" /&gt;
          &lt;/ArrayOfActionItem&gt;
        </value>
      </setting>
    </UrlReplace.Properties.Settings>
  </userSettings>
</configuration>